.app-body {
  font-family: sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.app-header {
  background: #333;
  color: #fff;
  padding: 1rem;
}

.app-header a {
  color: #fff;
  margin-right: 1rem;
  text-decoration: none;
}

.app-main {
  padding: 3rem 5rem;
}
@media (max-width: 768px) {
  .app-main {
    padding: 1rem 1rem;
  }
}

.app-footer {
  background: #eee;
  text-align: center;
  padding: 1rem;
}

/* ボタン */

.app-btn-primary {
  all: unset;

  cursor: pointer;
  padding: 0.1rem 0.5rem;
  text-decoration: none;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 4px;
  display: inline-block;

  border-color: #204a66;
  background-color: #3498db;
  color: white;
}
.app-btn-orange {
  all: unset;

  cursor: pointer;
  padding: 0.1rem 0.5rem;
  text-decoration: none;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 4px;
  display: inline-block;

  border-color: #c2a42d;
  background-color: #f1c40f;
  color: white;
}
.app-btn-danger {
  all: unset;

  cursor: pointer;
  padding: 0.1rem 0.5rem;
  text-decoration: none;
  border-style: solid;
  border-width: 0.1rem;
  border-radius: 4px;
  display: inline-block;

  border-color: #b72a1a;
  background-color: #e74c3c;
  color: white;
}

/* 通常リンク */
a.app-link-normal {
  color: #3498db;
  text-decoration: none;
}
a.app-link-normal:hover {
  color: #2980b9;
  text-decoration: underline;
}

/* テーブル */

.app-table-wrap {
  overflow-x: auto;
  padding: 0;
  margin: 0;
}
.app-table {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
}
.app-table-cell {
  padding: 0.5rem 1rem;
}
.app-table-row-header {
  background-color: #ecf0f1;
}
.app-table-row-data {
  border-bottom: 1px solid #ddd;
}

/* フォーム */

.app-form-input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.app-form-label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: bold;
  color: #2c3e50;
}

/* タイトル */

.app-h2 {
  font-family: "Segoe UI", Roboto, sans-serif;
  font-size: 1.8rem;
  color: #2c3e50;
  border-left: 6px solid #3498db;
  padding-left: 0.75rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
